body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 5rem;
}

.weiht-thin {
  font-weight: 100;
}

.btn-wrapper {
  border: 1px solid #fff;
  border-radius: 300px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.btn-figure:first-child {
  margin-right: 1rem;
}

.btn-figure {
  height: 200px;
  width: 200px;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-figure::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-figure-click {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

.btn-figure-click::after {
    opacity: 1;
}

.btn-start-reset {
  width: 6rem;
  margin-top: 3rem;
}

h2 {
  text-align: center;
}

.instructions-wrapper,
.stats-wrapper {
  border: 1px solid #fff;
  margin-top: 3rem;
  color: #fff;

}

.stats-wrapper ul {
  list-style: none;
  padding-left: 0;
}

.stats-wrapper {
  width: 300px;
}

.instructions-wrapper {
  width: 90%;
  padding-left: .3rem;
  text-align: justify;
}

footer {
  border-top: 1px solid #fff;
  color: #fff;
  margin-top: 2rem;
  padding: .3rem .5rem;
}

footer p {
  margin-bottom: 0;
}

.wrong-answer {
  background-color: red;
}

@media screen and (min-width: 992px) {

  h1 {
    font-size: 4rem;
  }

  .btn-wrapper {
    width: 600px;
    height: 600px;
    padding-top: 5.5rem;
  }

  .btn-figure {
    height: 200px;
    width: 200px;
  }

  .stats-wrapper,
  .instructions-wrapper{
    margin-bottom: 2rem;

  }

  .instructions-wrapper{
    width: 60%;
  }
  
}